body {
  height: 100%;
  background-image: url("https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.container {
  flex-shrink: 0;
  flex-grow: 0;
  background-color: rgba(205, 205, 205, 0.7);
  padding: 2rem;
  color: black;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.home-ctr {
  display: flex;
  margin-left: 30rem;
  margin-right: 30rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.topnav-right {
  float: right;
  margin-right: 2rem;
}
