<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="main-title"><%= title %></h1>
    <a href="/skills" id="skills-redirect">Skills Page</a>
  </body>
</html>
