.App {
  text-align: center;
}

.App-header {
  background-color: rgba(205, 205, 205, 0.95);
  height: 6rem;
  padding: 0px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.Coastr-link {
  color: rgb(255, 189, 65);
  text-decoration: none;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  font-size: smaller;
  border: 3px solid rgb(255, 189, 65);
  border-radius: 15%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
